:root {
    --color1: #f8b195;
    --color2: #f67280;
    --color3: #c06c84;
    --color4: #6c5b7b;
    --color5: #355c7d;
    --background-color: #fbf6ed;
    --font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--color5);
    margin: 0;
    padding: 0;
}
